/build.bat
/build.ps1
/dependencies.txt
/libgcc_s_seh-1.dll
/libstdc++-6.dll
/libwinpthread-1.dll
/mini_contra.exe
/mainWindow.png
/openal32.dll
/sfml-graphics-2.dll
/sfml-system-2.dll
/sfml-window-2.dll
/VeniteAdoremus-rgRBA.ttf
/VeniteAdoremusStraight-Yzo6v.ttf
/external